@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Extra small devices (phones, 600px and down) */
html {
  background: hsla(45, 83%, 67%, 1);
  background: linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);
  background: -moz-linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);
  background: -webkit-linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1CE66", endColorstr="#F1E2B6", GradientType=1 );
}
body {
  font-family: 'open sans condensed', sans-serif;
  background: hsla(45, 83%, 67%, 1);
  background: linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);
  background: -moz-linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);
  background: -webkit-linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1CE66", endColorstr="#F1E2B6", GradientType=1 );
  color: #f5f5f5;
  letter-spacing: 1.5px;
  min-height: 100%;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.profile-pic{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: white solid 3px;
}
.logos{
  width: 90%;
  height: 90%;
  border-radius: 10px;
  /* background-color: rgba(245, 245, 245, 0.9); */
}
img{
  transition: all .2s ease-in-out;
  filter: drop-shadow(2px 2px 3px #333);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
img:hover{
  /* background-color: rgba(245, 245, 245, 1); */
  transform: scale(1.2);
}
.padding{
  padding-top: 10px;
}
.padding-bottom{
  padding-bottom: 50px;
}
.twitchplayer{
  width: 100%;
  height: 315px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
}
iframe{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
}

.tiktok-embed{
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.twitter-timeline{
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background: hsla(45, 83%, 67%, 1);
  background: linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);
  background: -moz-linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);
  background: -webkit-linear-gradient(315deg, hsla(45, 83%, 67%, 1) 0%, hsla(45, 68%, 83%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1CE66", endColorstr="#F1E2B6", GradientType=1 );
}
i{
  font-size: 25px !important;
  padding: 5px;
  color: white;
  filter:drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2), 1px -1px 1px rgba(0, 0, 0, 0.2), -1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.fa-twitch{color: #9147FE;}
.fa-youtube{color: #FF0101;}
.fa-tiktok{color: #26FFFD;}
.fa-user-astronaut{color: #46C7F0;}
.fa-discord{color: #758DE0;}
.fa-instagram{color:#F44E50;}
.fa-twitter{color: #1DA1F2;}
.fa-reddit{color: #FF4603;}
h1{
  font-family: 'retro_coolregular', arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  position: relative;
  color: white;
  font-size: 2em;
  text-align: left;
  text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000;
  filter:drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}
#myBtn {
  margin: auto;
  right: 0;
  display: none;
  position: fixed;
  bottom: 51px;

  z-index: 99;
  font-size:15px;
  border: none;
  outline: none;
  background-color: rgba(221, 186, 82, 1);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: rgba(0,0,0,0.2);
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .profile-pic{
    width: 150px;
    height: 150px;
  }
  .twitter-timeline{
    height: 100%;
    width: 100%;
  }
  .tiktok-embed{
    height: 100%;
    width: 100%;
  }
  i{
    padding: 10px;
    color: white;
    filter:drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.2));
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2), 1px -1px 1px rgba(0, 0, 0, 0.2), -1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 51px;
    right: 100px;
    z-index: 99;
    font-size: 35px;
    border: none;
    outline: none;
    background-color: rgba(221, 186, 82, 0.8);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
  }
  #myBtn:hover {
    background-color: rgba(221, 186, 82, 1);
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {height: 100%;}
  .logos{width: 100%;}
  h1{font-size: 4em;}
}
