@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Extra small devices (phones, 600px and down) */
html {height: 100%;}
body {
    background: url("../Pics/big.png")center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'open sans condensed', sans-serif;
    height: 100%;
    background-color: rgba(240,207,146,1);
    color: #f5f5f5;
    letter-spacing: 1.5px;
}
.profile-pic{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: white solid 3px;
}
.logos{
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 1);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .profile-pic{
    width: 150px;
    height: 150px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logos{width: 75%;}
}
